<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\10_10\ai-key-plan\web_app\venv\Scripts\python.exe|D:\10_10\ai-key-plan\web_app\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="D:\10_10\ai-key-plan\web_app" />
    <add key="WSGI_HANDLER" value="floorplan_project.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="floorplan_project.settings" />
    <add key="WSGI_LOG" value="D:\10_10\ai-key-plan\web_app\iis_errors.log" />
  </appSettings>
</configuration>